*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;

}
.container{
    color: white;
    position: absolute;
    top: 36%;
    left: 19%;
}
.container h1{
    font-family: 'Sofia Sans', sans-serif;
    display: inline-block;
    width: 96%;
    font-size: 34px;
    margin-bottom: 12px;
    border-bottom: 5px solid rgb(226, 169, 226);
    padding:5px 0px;
}
.box{
    width:87%;
    margin: 11px ;
    border-bottom: 2px solid  rgb(226, 169, 226) ;
}
.box input{
    background: none;
    width: 75%;
    padding: 6px 6px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 16px;
    padding: 7px 14px;
    border-radius: 10px;
    font-size: 15px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    background: white;
    color: purple;

}